mixin head(title)
  head
    meta(charset='utf-8')
    title=title
    //[if lt IE 9]><script src="http://html5shi,.googlecode.com/svn/trunk/html5.js></script><!endif]"
    //<base href="/">
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(name='description', content='')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")